<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> UH Post Office - Confirmation </title>
    <style>
        .content {
            max-width: 960px;
            margin: auto;
        }

        Body {
            font-family: Roboto, Arial, sans-serif;
        }

    </style>
</head>
    <body>

        <div class="content">
            <h1 class="display-3">Your package has been shipped! </h1>
            <p class="lead">
                Your tracking number is: {{ info.pkgID }} <br />
                Price: {{ info.price }}<br />
                <strong>Please check your email</strong> for updates on your package.
            </p>
            <hr>
            <p class="lead">
                <a class="btn btn-primary btn-sm" href="/" role="button">Continue to homepage</a>
            </p>
            <p class="lead">
                <h3>Order Details:</h3>
                Sender Name: {{ info.send_fname }}<br />
                Sender Email: {{ info.send_email }}<br />
                Sender Address: {{ info.return_add }}<br />
                Sender Phone: {{ info.send_phoneNum }}<br />
                Receiver Name: {{ info.rec_fname }}<br />
                Receiver Email: {{ info.rec_email }}<br />
                Receiver Address: {{ info.dest_add }}<br />
                Receiver Phone: {{ info.rec_phoneNum }}<br />
                Package Weight: {{ info.weight }}<br />
                Package Width: {{ info.width }}<br /> 
                Package Height: {{ info.height }}<br /> 
                Package Length: {{ info.length }}<br />
                Employee ID: {{ info.empID }}
            </p>
        </div>

    </body>
</html>