<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> UH Post Office - Confirmation </title>
    <style>
        .content {
            max-width: 960px;
            margin: auto;
        }

        Body {
            font-family: Roboto, Arial, sans-serif;
        }

    </style>
</head>
    <body>

        <div class="content">
            <h1 class="display-3">Your reservation has been booked! </h1>
            <p class="lead">
                Your booking ID is: {{ info.booking_ID }} <br />
                <strong>Please check your email</strong> for updates on your package.
            </p>
            <hr>
            <p class="lead">
                <a class="btn btn-primary btn-sm" href="/" role="button">Continue to homepage</a>
            </p>
            <p class="lead">
                <h3>Order Details:</h3>
                Name: {{ info.fname }}<br />
                Email: {{ info.email }}<br />
                Address: {{ info.address }}<br />
                Phone: {{ info.phNum }}<br />
                Party Size: {{ info.partySz }}<br />
                Date: {{ info.date }}<br />

            </p>
        </div>

    </body>
</html>